[project]
name = "machine"
requirements = []

[contracts.frozen-stacks-pops-v5]
path = "contracts/frozen-stacks-pops-v1.clar"
depends_on = []

[contracts.stacks-pops-v5]
path = "contracts/stacks-pops-v1.clar"
depends_on = []

[contracts.stacks-pops-ice-v5]
path = "contracts/stacks-pops-ice-v1.clar"
depends_on = []

[contracts.stacks-pops-ice-machine-v5]
path = "contracts/stacks-pops-ice-machine-v1.clar"
depends_on = ["stacks-pops-v5", "stacks-pops-ice-v5"]
