[project]
name = "machine"
requirements = []

[contracts.test-frozen-pops-v3]
path = "contracts/test-frozen-pops-v3.clar"
depends_on = []

[contracts.test-pops-v3]
path = "contracts/test-pops-v3.clar"
depends_on = []

[contracts.test-pops-ice-v3]
path = "contracts/test-pops-ice-v3.clar"
depends_on = []

[contracts.test-pops-ice-machine-v3]
path = "contracts/test-pops-ice-machine-v3.clar"
depends_on = ["test-pops-v3", "test-pops-ice-v3"]
