[project]
name = "machine"
telemetry = false
requirements = [
	{ contract_id = "SPJW1XE278YMCEYMXB8ZFGJMH8ZVAAEDP2S2PJYG.stacks-pops" },
	{ contract_id = "SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE.sip-010-trait-ft-standard" },
]

[contracts.stacks-pops-ice-v1]
path = "contracts/stacks-pops-ice-v1.clar"
depends_on = []

[contracts.frozen-stacks-pops-v1]
path = "contracts/frozen-stacks-pops-v1.clar"
depends_on = []

[contracts.stacks-pops-ice-machine-v1]
path = "contracts/stacks-pops-ice-machine-v1.clar"
depends_on = ["stacks-pops-ice-v1"]